@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  height: 400px;
  width: 400px;
  border: none;
  border-radius: 10px;
  margin: 10rem auto;
  text-align: center;
  background: linear-gradient(
      rgba(173, 216, 230, 0.747),
      rgba(169, 169, 169, 0.745)
    ),
    url("../images/image1.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

.container input,
.container button {
  display: block;
  margin: 1rem auto;
}

.container button {
  width: 4rem;
  padding: 0.3rem;
  color: lightblue;
  background-color: rgb(70, 67, 67);
}

.container h3 {
  margin: 2rem;
  color: rgb(76, 95, 101);
  text-transform: capitalize;
}

.container p {
  color: rgb(55, 68, 72);
  font-size: 1.5rem;
}
