@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  height: 450px;
  width: 450px;
  border: none;
  border-radius: 10px;
  margin: 10rem auto;
  text-align: center;
  background: linear-gradient(
      rgba(173, 216, 230, 0.747),
      rgba(169, 169, 169, 0.745)
    ),
    url("../images/image1.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

.container input,
.container button {
  border: none;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin: 1rem auto;
  padding: 0.3rem;
  width: 75%;
  opacity: 0.75;
}

::placeholder {
  opacity: 0.5;
}

.container button {
  padding: 0.3rem;
  color: lightblue;
  background-color: rgba(70, 67, 67);
}

.container h3 {
  margin: 2rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.container p {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  text-transform: capitalize;
}
